
ul{
    list-style: none;
    display: flex;
    float:right;
    color:rgb(8, 8, 8);
    font-size: 1.5rem;
    
}
nav ul li {
    padding-left: 8rem;
    
   
}

.container{
    
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crée 3 colonnes égales */
    gap: 10px; /* Espace entre les images */

}
.article{
    display: inline-block;
    flex-direction: column;
    width: 50%;
    font-size: 2rem;
   
    
}
.buttons{
    display: inline-block;
    gap:1rem;
    padding:1rem 2rem 3rem;
}
.condition ul{
    list-style: none;
    display: flex;
    float:right;
    color:rgb(11, 11, 12);
    font-size: 1.5rem;
    gap:5rem
}
h3{
    font-size: 1rem;
}
p{
font-size:1rem ;
}
.catégorie ul li {
    text-align:center;
    
    
    
}
.catégorie{
display: flex;
align-items: center;
justify-content: center; 
height: 20vh; 

}    
img{ 
height: 50vh; 
}  
.logo{
    height: 20vh; 
}